<div class="title">Test task for DOCUSKETCH</div>

<ul class="contacts">
  <li>
    <fa-icon [icon]="icon.linkedIn" size="xs"></fa-icon>
    <a href="https://www.linkedin.com/in/hanna-hlavatskikh-02150495/">Hanna Hlavatskikh</a>
  </li>
  <li>
    <fa-icon [icon]="icon.mail" size="xs"></fa-icon>
    <a href="mailto:glavatskikh.anna@gmail.com">glavatskikh.anna@gmail.com</a>
  </li>
  <li>
    <fa-icon [icon]="icon.github" size="xs"></fa-icon>

    <a href="https://github.com/AnnaFeona">annafeona</a>
  </li>
</ul>
