/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 320px;

  background-color: #eee;

  color: #444;
  font-family: Helvetica, sans-serif;
}
